= form_for @user, html: {class: 'form-horizontal col-sm-4', role: 'form'} do |f|
  %h4.form-signin-heading Sign-in with your PivotalTracker credentials
  - if flash.now[:error].present?
    .alert.alert-danger= flash.now[:error]
  = field_with_errors(@user, :email, 'form-signin__form-control') do
    = f.email_field :email, class: 'form-control', placeholder: 'Email' #, required: '', autofocus: ''
  = field_with_errors(@user, :password, 'form-signin__form-control') do
    = f.password_field :password, class: 'form-control', placeholder: 'Password' #, required: ''
  .form-signin__form-control
    = f.button "Sign-in", class: 'btn btn-md btn-primary btn-block btn-success'
