%h1.center KanbanStyle

= form_for @user do |f|
  %div Sign-in using your Pivotal Tracker credentials:
  - if flash.now[:error].present?
    .error= flash.now[:error]
  = field_with_errors(@user, :email) do
    = f.label :email, class: 'field-label'
    = f.text_field :email, class: 'field-input'
  = field_with_errors(@user, :password) do
    = f.label :password, class: 'field-label'
    = f.password_field :password, class: 'field-input'
  .button-wrapper
    = f.button "Sign-in", class: 'button'

