%div{class: "col1 stream stream-#{presenter.stream_name}"}
  %h2.stream-name= presenter.human_stream_name

  - presenter.each_story do |story, show_date_bar|
    - if show_date_bar
      .date-bar= story.accepted_at.strftime('%a %-d %b')
    
    .story
      %a.story-name{href: story.url}= story.name
      .story-owner= story.owned_by
      .story-labels
        - presenter.story_labels(story).each do |label|
          %span.story-label= label
