%div.col-third{ |
  class: "stream stream-#{presenter.stream_name}", |
  id: "stream-#{presenter.stream_name}", |
  'data-uri'=> presenter.data_uri}

  %h3.stream-name= presenter.human_stream_name

  .stream-loading.hidden Loading...

  - if presenter.show_nothing_to_see_message? 
    .stream-empty Nothing to see here
    
  - presenter.each_story do |story, show_date_bar|
    - if show_date_bar
      %h4.date-bar= story.accepted_at.strftime('%a %-d %b')
    
    .story
      .story-heading
        %a.story-name{href: story.url}= story.name
      .story-body
        .story-owner= story.owned_by
        .story-labels
          - presenter.story_labels(story).each do |label|
            %span.story-label= label
