%h1#project-name= @project.name

- @streams.each do |stream_name, stories|
  %div{class: "col1 stream stream-#{stream_name}"}
    %h2.stream-name= ActiveSupport::Inflector::humanize(stream_name)
    - stories.each do |story|
      .story
        .story-name= story.name
        .story-owner= story.owned_by
        .story-accepted-at= story.accepted_at
%div.clear

